{% extends "master.html.twig" %}

{% block content %}

<a class="herf" href="/educator/childlist"><img src="/images/back.jpg" width="40px"/></a><br>
<a  class="herf3" href="/educator/child_attendance?childId={{childId}}"><img src="/images/note.jpg" width="60px"/></a> </p>
Date: {{today}}<br>

<table >
    <tr class="talbeNote"><th class="th1" >First Name </th><th class="th1">Last Name</th><th class="th">Date</th>
    <th class="th1">Start Time</th><th class="th1">End Time</th><th class="th">Statu<th class="th">Notes</th><th class="th">Romove</th></tr>
    {% for a in list %}
        <tr ><td class="th"> {{a.firstName}}</td> 
        <td class="th">{{a.lastName}}</td>
        <td class="th1"> {{a.date}}</td>
        <td class="th" >{{a.startTime}} </td>
        <td class="th"> {{a.endTime}} </td>  
        <td class="th" >{{a.status}} </td>
        <td class="th1">{{a.note}} </td>   
        <td class="th"><a href="/educator/attendance_remove?attendanceId={{a.attendanceId}}&childId={{a.childId}}"> <img src="/images/remove-friend.png" width="30px"/></a><br>
        </tr>
    {% endfor %}
</table>

{% endblock content %}
