{% extends "master.html.twig" %}

{% block content %}

Date: {{today}}<br>
<talbe class="talbeNote" >
<tr><th>First name</th> <th>Last Name</th> <th>Check in</th><th>Check out</th> <th>Absent</th></tr>
    {% for a in list %}
    <tr>
            <td>{{a.firstName}}</td>
            <td>{{a.lastName}}</td>
            <td><form action="/childlist/{{a.id}}">
                    <input type="submit" value="Check in">
                </form></td>
               <td> <form action="/childlist/{{a.id}}">
                    <input type="submit" value="Check out">
                </form></td>
                <td><form><select name="attenance">
                <option value="Present">Present</option>
                <option value="Absent">Absent</option>
                </select></form>
                </td>
        </tr>
        </tr>    
    {% endfor %}

</table>
{% endblock %}