{% extends "educator/master.html.twig" %}

{% block content %}

<h1 class="edu"><img src="/images/child.jpg" width="70px"/> Children Note List</h1>
<a  class="herf" href="/educator/childlist"><img src="/images/back.jpg" width="40px"/></a><br>

<table class="admintable">
    <tr> <th class= "th1">First Name </th> <th class= "th1">Last Name</th> <th class= "th">Photo</th> <th class= "th">Height(cm)</th> <th class= "th" >Weight(kg)</th> <th class= "th">Skill</th> <th class= "th">Notes</th> <th class= "th">Record Date</th></tr>
    {% for a in list %}
        <tr>
            <td class= "th">{{a.firstName}}</td>
            <td class= "th">{{a.lastName}}</td>
            <td class= "th1"><img src="../{{a.photoFilePath}}" width="150" height="120"></td>
            <td class= "th" >{{a.height}}</td>
            <td class= "th">{{a.weight}}</td>
            <td class= "th">{{a.skills}}</td>
            <td  class= "th1"> {{a.note}}</td>
            <td class= "th1" >{{a.noteCreatedTS}}</td>
           
            
        </tr>
    {% endfor %}
</table>

{% endblock content %}
