{% extends "educator/master.html.twig" %}
{% block content %}
<a class="herf" href="/educator/childlist"><img src="/images/back.jpg" width="40px"/></a><br>
<h1 class="edu"onmouseover="style.color='yellow'
"onmouseout="style.color='green'" ><img src="/images/child.jpg" width="70px"/>Children Attendance List</h1>

<h5  class"date">Date: {{today}}<h5><br>
<table class="admintable1">
<tr>  <th class="th1"> First name</th> <th class= "th1">Last Name</th> <th class ="th1">Date</th> <th class= "th1">Start Time</th> <th class = "th1">End Time</th> <th class = "th1">Staus</th> <th class ="th1">Note</th> </tr>
    {% for a in list %}
    <tr><td class = "th"> {{a.firstName}}</td> 
        <td class ="th">{{a.lastName}}</td>
        <td class ="th">{{a.date}}</td>
        <td class ="th">{{a.startTime}} </td>
        <td class ="th">{{a.endTime}} </td>  
        <td class ="th">{{a.status}} </td>
        <td class ="th"> {{a.note}} </td>   
        </tr>

   

    {% endfor %}
</table>

<div class = "pic"><img src="/images/kids.png" width="800" height="250" /></div>

{% endblock content %}