{% extends "master.html.twig" %}
{% block content %}

Date: {{today}}
<table>
<tr> <th>First name</th> <th>Last Name</th> <th>Date</th> <th>Start Time</th> <th>End Time</th> <th>Staus</th> <th>Note</th> </tr><br>
    {% for a in list %}
    <tr><td> {{a.firstName}}</td> 
        <td>{{a.lastName}}</td>
        <td>{{a.date}}</td>
        <td>{{a.startTime}} </td>
        <td>{{a.endTime}} </td>  
        <td>{{a.status}} </td>
        <td>{{a.note}} </td>   
        </tr><br>

   

    {% endfor %}
</table>

<a href="/educator/childlist">Go Back</a><br>

{% endblock content %}