{% extends "master.html.twig" %}


{% block content %}
{% if errorList %}
    <ul>
    {% for error in errorList %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}

<h3> Child Notes Edit:</h3>

   <form method="post"enctype="multipart/form-data" >
    <input type="text"  hidden name="id"  value="{{note.id}}"><br/>
    First Name: <input type="text" name="firstName" value="{{note.firstName}}"><br/>
    Last Name: <input type="text" name="lastName" value="{{note.lastName}}"><br/>
    Image: <input type="file" name="image"><br>
    Height(cm): <input type="textr" name="height" value="{{note.height }}"><br>
    Weight(kg): <input type="text" name="weight" value="{{ note.weight }}"><br>
    Skill: <input type="text" name="skills" value="{{ note.skills}}"><br>
    Notes: <textarea name="note">{{ note.note}}</textarea><br>
   
    <input type="submit" value="save">
</form> 
<a href="/educator/childnotes_detail">Children Note List</a><br>
{% endblock content %}
 